.price {
	text-align: center;
	background-color: @bg-lightgrey;
	background-image: url("../img/bg-triangle-white.svg");
	background-repeat: no-repeat;
	background-size: 100%;

	&__container {
		display: flex;
    flex-direction: column;
    align-items: center;
		padding-top: 90px;
		padding-bottom: 90px;
		overflow: hidden;
	}

	&__control {
		.visually-hidden();
	}

	&__list {
		width: 840px;
		box-sizing: border-box;
		transition: 0.5s;
	}

	&__value {
		position: relative;
		padding: 12px 0;
		color: @font-white;
		font-size: 16px;
		line-height: 30px;
		text-transform: uppercase;
		background-color: @bg-darkblue;
		border: 1px solid @bg-lightgrey;

		&--empty {
			border-color: transparent;
			background-color: transparent;
		}

		& b {
			display: block;
			font-weight: normal;
		}

		&--note {
			display: none;
		}

		&--hit {
			background-image: url('../img/bg-hit.svg');
			background-repeat: no-repeat;
			background-position: top left;
		}

		&--hit::before {
			content: "Хит";
			position: absolute;
			top: 12px;
			left: 9px;
			font-size: 16px;
			line-height: 28px;
			text-transform: uppercase;
      transform: rotate(-45deg);
		}
	}

	&__field {
		padding: 15px;
		color: @font-darkblue;
		font-size: 14px;
		line-height: 30px;
		text-align: left;
		text-transform: uppercase;
		background-color: @bg-white;
		border: 1px solid @bg-lightgrey;

		&--yes {
			background-image: url("../img/icon-yes.svg");
			background-repeat: no-repeat;
			background-size: 31px;
			background-position: 95% center;
		}

		&--no {
			background-image: url("../img/icon-no.svg");
			background-repeat: no-repeat;
			background-size: 27px;
			background-position: 95% center;
		}
	}

	&__controls {
		margin-top: 15px;

		& label {
			display: inline-block;
			vertical-align: top;
			width: 8px;
			height: 8px;
			margin: 0 8px;
			background-color: grey;
			border: 2px solid @bg-lightgrey;
			border-radius: 50%;
			cursor: pointer;
		}
	}
}

@media @mob-widths-only {
	#price-control-1:checked ~ .price__controls label[for="price-control-1"],
	#price-control-2:checked ~ .price__controls label[for="price-control-2"],
	#price-control-3:checked ~ .price__controls label[for="price-control-3"] {
		background-color: transparent;
		border-color: @bg-darkblue;
	}

	#price-control-1:checked ~ .price__list {
		transform: translateX(280px);
	}

	#price-control-2:checked ~ .price__list {
		transform: translateX(0);
	}

	#price-control-3:checked ~ .price__list {
		transform: translateX(-280px);
	}
}

@media @tablet-widths {
	.price {

		&__container {
			.container-fluid();
			padding-top: 90px;
		}

		&__list {
			position: static;
			width: 100%;
		}

		&__value {
			width: 25%;

			&--note {
				display: table-cell;
			}
		}

		&__field {
			text-transform: none;

			&--yes {
				font-size: 0;
				background-position: center;
			}

			&--no {
				font-size: 0;
				background-position: center;
			}
		}

		&__controls {
			display: none;
		}
	}
}

@media @desktop-widths {
	.price {

		&__container {
			padding-top: 150px;
		}
	}
}